<div id="twitterContainer">
  <% Twitter.user_timeline("thevanguarde", :count => 3).each do |tweet| %>
    <div id="tweetContainer">
      <%= tweet.text.gsub(/(http:\/\/\S*)/, '<a href="\1" target="_blank">\1</a>').html_safe %>
    </div>
  <% end %>
  <div id="twitterLink">
  	<a href="https://twitter.com/thevanguarde" target="_BLANK">
  		visit the vanguarde twitter page
  	</a>	
  </div>	
</div>  

<div id="footer">
	<ul id="linksLeft">
		<li>Contact</li>
		<li>Press</li>
		<li>Tag Index</li>
		<li>Site Credits</li>
		<li>Site Map</li>
	</ul>

	<ul id="linksRight">
		<li>Mailing List</li>		
		<li>Follow Us On Twitter</li>
		<li>Add Us On Facebook</li>
		<li>RSS</li>
	</ul>
	<span class="spacer"></span>
</div>	

<div id="copyright">
	the vanguarde craft &amp; creative &copy; 2012 
</div>	
