<div id="footer">
	<ul id="linksLeft">
		<li>Contact</li>
		<li>Press</li>
		<li>Tag Index</li>
		<li>Site Credits</li>
		<li>Site Map</li>
	</ul>

	<ul id="linksRight">
		<li>Mailing List</li>		
		<li>Follow Us On Twitter</li>
		<li>Add Us On Facebook</li>
		<li>RSS</li>
	</ul>
	<span class="spacer"></span>
</div>	

<div id="copyright">
	the vanguarde craft &amp; creative &copy; 2012 
</div>	

<script type="text/javascript">
			jQuery(function( $ ) {
				$( "#carousel" ).rcarousel({
					auto: {
						enabled: true,
						interval: 3000,
						direction: "prev",
					},
					width: 514,
					height: 253,
					visible: 1,
					step: 1,
					orientation: "vertical",

				});
				
				$( "#ui-carousel-next" )
					.add( "#ui-carousel-prev" )
					.hover(
						function() {
							$( this ).css( "opacity", 0.7 );
						},
						function() {
							$( this ).css( "opacity", 1.0 );
						}
					);				
			});
		</script>