<div id="footer">
	<ul id="linksLeft">
		<li>Contact</li>
		<li>Press</li>
		<li>Tag Index</li>
		<li>Site Credits</li>
		<li>Site Map</li>
	</ul>

	<ul id="linksRight">
		<li>Mailing List</li>		
		<li>Follow Us On Twitter</li>
		<li>Add Us On Facebook</li>
		<li>RSS</li>
	</ul>
</div>	

<div id="copyright">
	the vanguarde craft &amp; creative &copy; 2012 
</div>	