<div id="mainContainer">
	<div id="header">

	</div>	

	<div id="navContainer">
		<div id="anvm">
			<ul id="nav">
				<li>Home</li>
				<li>The VV &amp; C</li>
				<li>Categories</li>
			</ul>	

		</div>	
		<div id="craft">
			<ul id="nav">
				<li>VV &amp; C Works</li>
				<li>ANVM Store</li>
				<li>Contact</li>
			</ul>	
		</div>	
		<div id="conversation">
			asd
		</div>	
	</div>
		
	<span class="spacer"></span>

	<div id="mainSliderContainer">	
		<div id="mainSliderInnerContainer">	
			<%= image_tag "temp/topslide_1.jpg" %>
			<%= image_tag "temp/topslide_2.jpg" %>
		</div>

		<div class="link">
			<a href="#">View Previous Collections</a>
		</div>	
	</div>	
	
	<object width="1100" height="2480" id="tumblr" data="http://vangaurde.tumblr.com/" type="text/html">
		<p>This is the fallback code!</p>
	</object>

	<div id="titleWork">
		VANGUARDE WORKS
	</div>

	<div id="subTitle">
		Select Edits
	</div>

	<div id="titleNews">
		In The News
	</div>

</div>