<div id="mainContainer">
	<div id="header">

	</div>	

	<div id="navContainer">
		<div id="anvm">
			<ul id="nav">
				<li>Home</li>
				<li>The VV &amp; C</li>
				<li>Categories</li>
			</ul>	

		</div>	
		<div id="craft">
			<ul id="nav">
				<li>VV &amp; C Works</li>
				<li>ANVM Store</li>
				<li>Contact</li>
			</ul>	
		</div>	
		<div id="conversation">
			asd
		</div>	
	</div>
		
	<span class="spacer"></span>
	
	<div id="mainSliderContainer">	

	</div>	
</div>