body.active_admin ul.wysihtml5-toolbar {
  @import "bootstrap";
}
body.active_admin {
  @import "bootstrap-wysihtml5";
  a.btn, a:link.btn, a:visited.btn {
    color: #333;
    text-decoration: none;
  }
  iframe.wysihtml5-sandbox[style] {
    margin-left: 20% !important;
  }
  // For compatability with nested_form
  form fieldset > ol > div.fields > li, form fieldset ol a{
    padding: 10px;
  }
  form fieldset > ol > div.fields > li label {
    display: block;
    width: 20%;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
  }
}
@import "active_admin/mixins";
@import "active_admin/base";
