// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: #000;

}

.spacer{clear: both;}
 

/*Fonts */

@font-face {
    font-family: 'Mussica';
    src: url('musica-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
  	font-family: 'Futura';
 	src: url('Futura.otf');
 }

 @font-face {
  	font-family: 'Futura-Con';
 	src: url('Futura-Condensed.otf');
 }

.georgia{
	font-family:'Georgia';
	font-style: italic;

}

.futura{
	font-family:'Futura-Con';
}

.white{
	color: #fff;
}

.uppercase{
	text-transform: uppercase;
}

/* Header */


#header{
	width: 1100px;
	height: 461px;
	margin-top: 20px;
	margin-left:auto;
	margin-right: auto;	
	background-image: url('headerBack.png');
	background-repeat:no-repeat;	
}


#date{
	float:right;
	font-family: 'Futura';
	margin-top: 442px;
	margin-right: 5px;
	text-transform: uppercase;
}

/* Naviagation */

#navContainer{
	width:1200px;
	height: 70px;
}

#anvm{
	width: 314px;
	height: 60px;
	float:left;
	background-image: url('home/anvm.jpg');
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 40px;
	margin-left: 68px;
	margin-top: 15px;
}

#craft{
	width: 369px;
	height: 60px;
	float:left;
	background-image: url('home/craft.jpg');
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 40px;
	margin-left: 22px;
	margin-top: 15px;

}

#conversation{
	width: 342px;
	height: 60px;
	float:left;
	background-image: url('home/conversation.jpg');
	background-position: top;
	background-repeat: no-repeat;
	padding-top:26px;
	margin-left: 22px;
	margin-top: 15px;

}

#conversation img{
	float:right;
	margin-left:5px;
}

#mainContainer{
	width:1200px;
	margin-top: 30px;
	margin-left:auto;
	margin-right: auto;
	height: auto;
	background-image: url('background.jpg');
	background-repeat:repeat-y;
	padding-top: 5px;
	padding-bottom:100px;
}

#nav li{
	list-style-type: none;
	float:left;
	color:#000;
	text-transform: uppercase;
	margin-right: 44px;
	font-size: 14px;
	font-family: 'Futura', Helvetica;
	font-weight: 100;
	position:relative;
}

#nav a{
	font-size: 14px;
	font-family: 'Futura', Helvetica;
	color:#000;
	text-decoration: none;

}

#nav li:last-child{
	margin-right: 0px;
}

#nav ul{
	background:#fff; 
	background:rgba(255,255,255,0); 
	list-style:none;
	position:absolute;
	left:-9999px; 
}
#nav ul li{
	padding: 5px; 
	float:none;
}
#nav ul a{
	white-space:nowrap; 
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	text-decoration:none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
	color:#fff;
	font-size: 12px;
	font-family: 'Georgia';
	font-style: italic;
	text-transform: none;

}

#nav li:hover ul li:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333;
}

#nav li:hover ul li{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background: #000;
}

/* Main Slider */

.slides_container {
	width:1070px;
	margin:auto;
	padding-top: 10px;
	overflow:hidden;
	position:relative;
}

.slides_container {
	width:1070px;
	height: 285px;
	margin:auto;
	padding-top: 10px;
	overflow:hidden;
	position:relative;
}

.ui-carousel {
	height: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 300px
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
}



/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url('slider/pagination.png');
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}
	
#mainSliderContainer2{
	width:1098px;
	height: 305px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 38px;
	border-top: solid 5px #000; 
	border-left: solid 1px #000; 
	border-right: solid 1px #000; 
	border-bottom: solid 1px #000; 
	background: #fff;
}

#mainSliderContainer{
	width:1098px;
	height: 305px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 38px;
	border-top: solid 5px #000; 
	border-left: solid 1px #000; 
	border-right: solid 1px #000; 
	border-bottom: solid 1px #000; 
	background: #fff;
}


#mainSliderInnerContainer img{
	margin-left:2px;
	margin-right:2px;
}

#mainSliderContainer .link{
	width:1088px;
	height:10px;
	border-top: solid 1px #000; 
	padding-left: 10px;
	margin-top:-15px;
	clear:both;

}

#mainSliderContainer .link a{
	color:#000;
	text-transform: uppercase;
	font-size: 9px;
	font-family: 'Futura', Helvetica;
	font-weight: 100;
	text-decoration: none;
}

#slideStatic{
	width: 530px;
	height:253px;
	float:right;
	margin-left:14px;
  	margin-top:10px;
}

#slideDynamic{
	float:left;
	margin-top:10px;
	margin-left: 10px;
	position: relative;
}

#carousel {
	width: 514px;
	height:253px;	
	overflow: hidden;
	float: right;

}

/* Tumblr Object */

#tumblr{
	margin-left:50px;
  	margin-top:30px;
}


/* Titles */

#titleNews{
	width:1075px;
	height:43px;
	border-bottom: solid 1px #000; 
	color: #000;
	text-transform: uppercase;
	font-size: 31px;
	font-family: 'Futura-Con', Helvetica;
	background-image: url('icons/news.png');
	background-repeat:no-repeat;
	padding-left: 45px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	padding-top: 11px;
	background-position: 1px 3px;

}

#titleWork{
	width:1055px;
	height:36px;
	border-bottom: solid 1px #000; 
	border-top: solid 1px #000; 
	color: #000;
	text-transform: uppercase;
	font-size: 23px;
	font-family: 'Mussica';
	background-image: url('icons/work.png');
	background-repeat:no-repeat;
	padding-left: 45px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	padding-top: 12px;
	background-position: 1px 3px;
}

/* Sub Titles */
	#subTitle{
		width: 350px;
		height:22px;
		background: #000;
		font-family: 'Georgia', Serif;
		color: #fff;
		font-style: italic;
		padding:3px;
		float:left;
		margin-left: 50px;	

	}


	#subTitle .right{
		float:right;
		margin-right: 40px;
	}

/* Works */

#worksContainer{
	width:1100px;
	height: 415px;
	background: #000;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;

}

#worksPhoto{
	width: 255px;
	height:333px;
	background: #fff;
	float:left;
	margin-left:16px;
  	margin-top:31px;
}

#worksPhoto img{
	border: solid 4px #000;
	margin-left:8px;
  	margin-top:9px;
}

#worksPhototitle{
	padding-left:3px;
	padding-right:3px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 230px;
	margin:auto;
	background: #000;
	font-family: 'Mussica';
	color: #fff;
	text-transform: uppercase;
	margin-top: 4px;
	font-size:14px;	
}

#worksPhotoSubtitle{
	color: black;
	font-family: 'Georgia';
	font-style: italic;
	font-size: 14px;
	width: 230px;
	margin: auto;
	border-bottom: solid 1px #000;
	text-align: left;
	margin-top: 5px;
}

#worksSeason{
	font-family: 'Futura';
	color: white;
	background: #000;
	padding:3px;
	font-size: 9px;
	float:right;
	text-transform: uppercase;
	margin-right:13px;
	margin-top:4px;
}


#worksExpand{
	height:1550px;
	width: 1090px;
	border: solid 5px #000;
	margin-left:auto;
	margin-right:auto;
	margin-top:45px;
  display: none;
}

#worksExpand .divider{
	width: 1040px;
	height: 5px;
	background: #000;
	clear: both;
	margin-left:auto;
	margin-right:auto;

}

#worksExpand .close{
	float:right;
	margin-right:25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#worksExpand #info{
	width: 978px;
	min-height: 400px;
	border: solid 1px #000;
	margin: auto;
	margin-top: 15px;
	padding: 30px
}

#worksExpand #text{
	width: 585px;
	height: 390px;
	float:left;
	font-family: 'Georgia';
}

#worksExpand #infoContainer{
	width:572px;
}

#worksExpand #content{
	width: inherit;
	text-align: justify;
	text-justify: full;
	font-family: 'Georgia';
	font-style: italic;
	color: #000;
	line-height: 24px;
	margin-top: 10px;
	float:left;
}

#worksExpand #scope{
	width: 350px;
	height: 280px;
	background-color: #000;
	background-image: url('project/scopeHeader.jpg');
	background-repeat: no-repeat;
	background-position: 5px 0px;
	color:#fff;
	float:right;
	line-height: 18px;
	padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
}

#worksExpand #scope .tags{
	font-family: 'Futura';
	font-size: 14px;
	line-height: 18px;
}

#worksExpand #scope .creator{
	font-family: 'Georgia';
	font-style: italic;
	font-size: 18px;
	line-height: 18px;
	margin-top: 25px;
}

#worksExpand #link a{
	width: 350px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Futura';
	color: white;
	background:black;
	padding-top:10px;
	padding-bottom:10px;	
	text-transform: uppercase;
	text-decoration: none;
	float: right;
	margin-top: 10px;
	text-align: center;
	display: block;
}

#worksExpand #info h1{
  	color:#FFFFFF;
  	font-family:Mussica;
  	font-size:24px;
  	height:33px;
  	padding:7px;
  	text-transform:uppercase;
  	width:572px;
	background: #000;
}

#worksExpand #miniDiv{
	clear: both;
	background: black;
	height: 4px;
	width: 586px;
	margin-top: 10px;
	margin-bottom: 10px;

}

#worksExpand #info .subtext{
	font-family: 'Futura';
	color:#000;
	text-transform: uppercase;
	font-size: 16px;
	float: left;
	margin-top: 10px;
}

#worksExpand #info .date{
	font-family: 'Georgia';
	font-style: italic;
	color:#fff;
	background: #000;
	padding:  3px;
	font-size: 16px;
	float: right;
	margin-bottom:4px;
  	margin-top:7px;	
}

#worksExpand .large{
	width:1031px;
	height: 768px;
	border: 5px solid #000;
	margin-left:15px;
	margin-top:10px;
	overflow: hidden;

}

#worksExpand .controls{
	width: 250px;
	height: 40px;
	margin:auto;
	text-align: center;
}

#worksExpand .tagImage{
	width:1041px;
	height: 170px;
	overflow: hidden;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:24px;	
}

/* In The News */

#newsContainer{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	width:1100px;
}

#newsItem{
	width:260px;
	height:350px;
	float: left;
	margin-left:7px;
  	margin-right:7px;
  	margin-top: 40px;
  	position: relative;
}

#newsItem img{
	width:260px;
	height:260px;
}

#newsItem .title{
	height: 71px;
	width:260px;
	top: 93px;
	background-image: url('home/newsTitleback.png');
	background-repeat: repeat-x;
	display: table; 
	position:absolute;
	z-index: 99;
}

#newsItem .title p{
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
	font-family: 'Mussica';
	color:#fff;
	text-transform: uppercase;
	font-size: 15px;
}

#newsItem .date{
	text-align: center;
	font-family: 'Georgia';
	color: #fff;
	font-size: 12px;
	font-style: italic;
	text-transform: none;
}

#newsItem .caption{
	text-align: left;
	font-family: 'Georgia';
	color: #000;
	font-size: 13px;
	font-style: italic;
	border-bottom: solid 4px #000;
	line-height: 18px;
}

/* News Single */

#newsSingle{
	width:1100px;
	min-height: 2000px;
	background-color: #000;
	padding-top: 25px;
	margin: auto;
	position: relative;
	padding-bottom:10px;	
}


#newsSingle .header{
	width:388px;
	height: 186px;
	margin-left: 350px;
	padding-top: 15px;
}

#newsSingle .divider{
	width: 1040px;
	height: 5px;
	background: #fff;
	clear: both;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
}

#newsSingle #heading{
	width: 650px;
	border-bottom: solid 1px #fff;
	margin:auto;
	padding-top:30px;
	text-align:center;
	margin-bottom: 15px;

}

#newsSingle #heading .title{
	font-family:'Mussica';
	color:#fff;
	text-transform: uppercase;
	font-size: 35px;
	margin-bottom: 5px;
}

#newsSingle #heading .date{
	font-family:'Georgia';
	font-style: italic;
	color:#fff;
	font-size: 13px;
	margin-bottom: 5px;
	line-height: 50px;
}

#newsSingle #video{
	width:975px;
	margin: auto;
	padding-top:10px;
	border: #fff solid 1px;
}

#newsSingle #featured{
	float:left;
	width: 320px;
	height: 320px;
	margin-left: 60px;
	margin-top:50px;
	border: 3px solid #fff;
	overflow:hidden;
}

#newsSingle #text{
	float: right;
	width: 625px;
	margin-right: 60px;
	margin-top:50px;
	border-top: 3px solid #fff;
	line-height: 30px;
	font-family: 'Georgia';
	font-style: italic;
	color:#fff;	
}

#newsSingle #main{
	width:980px;
	margin-left:60px;
	clear:both;
	margin-top: 20px;
	margin-bottom: 20px;

}

#newsSingle #featured img{
	width: 320px;
}

#newsSingle #main img{
	width: 980px;
}

/* About */
#aboutContainer{
	width: 1100px;
	height:auto;
	background: black;
	margin:auto;
	position: relative;
	padding-bottom: 65px;
}

.aboutHeader{
	margin-left:  33px;
	margin-top:25px;
}

.aboutText{
	width:750px;
	margin-top:25px;
	font-size: 14px;
	color: #fff;
	font-size: 16px;
	line-height:23px;
  	margin-left:176px;
	text-align: center;

}


#toggleTitle{
	font-family: 'Futura';
	color: #fff;
	font-size: 20px;
	width: 310px;
	text-align: center;
	margin: auto;
	text-transform: uppercase;
}


#toggleTitle .show_hide{
	width:15px;
	height:15px;
	color:#000;
	background: #fff;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 18px;
	float: left;
	display: block;
}

.collapsible,
.page_collapsible,
.accordion {
	font-family: 'Futura-Con';
	color: #fff;
	font-size: 20px;
	width: 310px;
	text-align: center;
	margin: auto;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}

.accordion-open,.collapse-open {
    color: #fff; 
}

.accordion-open span, .collapse-open span {
    display:block;
    float: left;
    width: 15px;
    height: 15px; 
}


.accordion-open span, .collapse-open span {
    background:url('about/collapse.png');
    background-position:  top;   
}

.accordion-close span, .collapse-close span {
    display:block;
    float:left;
    background:url('about/collapse.png');
    background-position: bottom;
    width: 15px;
    height: 15px;     

}

.goldDiv{
	margin-bottom:40px;
  	margin-left:318px;
  	margin-top:40px;

}

.goldDiv2{
	margin-bottom:40px;
  	margin-left:455px;
  	margin-top:40px;

}

.key{
	margin-bottom:40px;
  	margin-left:-5px;
  	margin-top:40px;

}

.clients{
	margin-left:266px;
  	margin-top:25px;
}

/* Twitter */

#twitterContainer{
 	width:1060px;
	height: 193px;
	margin: auto;
	background-image: url('twitterHeader.jpg');
	background-repeat: no-repeat;
	background-position: 34px 17px;
	background-color: #000;
	padding-left:42px;
  	padding-top:45px;
}


#tweetContainer{
	width:330px;
	margin-top:70px;
	margin-right: 10px;
	font-family: 'Georgia';
	font-style: italic;
	float: left;
	color: #fff;
	font-size: 14px;
}

#tweetContainer a{
	color:#a6a28a;
}


/* Footer */

#footer{
	width: 1100px;
	height: 431px;
	margin: auto;
	margin-top: 40px;
	background-image:url('footerBack.png');
	background-repeat: no-repeat;
}

#linksLeft {
	font-family: 'Georgia';
	font-size: 13px;
	text-transform: uppercase;
	font-style: italic;
	color: #fff;
	float: left;
	margin-left:122px;
  	margin-top:142px;
}

#linksLeft li{
	list-style-type: none;	
	margin-top:6px;
  	padding-top:6px;
  	border-top: solid 1px #776e3a;
	width: 240px;
	line-height: 18px;
}


#linksRight {
	font-family: 'Georgia';
	font-size: 13px;
	text-transform: uppercase;
	font-style: italic;
	color: #fff;
	float: right;
	margin-right:122px;
  	margin-top:142px;
}

#linksRight li{
	list-style-type: none;	
	margin-top:6px;
  	padding-top:6px;
  	border-top: solid 1px #776e3a;
	width: 240px;
	line-height: 18px;
	text-align: right;
}

#linksRight li:first-child, #linksLeft li:first-child {
  	border-top: none;
}

#copyright{
	margin-top: 10px;
	font-family: 'Futura';
	color: #000;
	width: 260px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}



/* Contact */

#contactContainer{
	width: 1100px;
	height: 850px;
	margin:auto;
	background: #000;
	margin-top: 30px;
	padding-top:19px;
}

#contactBorder{
	width: 1050px;
	height: 800px;
	margin-right:auto;
	margin-left:auto;
	background: #000;
	border: solid #fff 1px;
	font-family: 'Futura';
	color: #fff;
	text-align: center;
	font-size: 14px;
}

#contactBorder a{
	font-family: 'Georgia';
	font-style: italic;
	text-decoration: none;
	font-size: 17px;
	line-height: 40px;
	color: #fff;
}

#contactContainer .header{
	margin-bottom: 20px;
}

#contactContainer .orn{
	margin-bottom: 20px;
}

#contactBorder .left{
	width:330px;
	float:left;
	margin-left: 150px;
	margin-top:50px;
}

#contactBorder .right{
	width:330px;
	float:right;
	margin-right: 150px;
	margin-top:50px;
}






