// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: #000;

}

.spacer{clear: both;}
 

/*Fonts */

@font-face {
    font-family: 'Mussica';
    src: url('http://peloterothemovie.com/musica-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
  	font-family: 'Futura';
 	src: url('fonts/Futura.otf');
 }


/* Header */


#header{
	width: 1100px;
	height: 461px;
	margin-top: 20px;
	margin-left:auto;
	margin-right: auto;	
	background-image: url('headerBack.png');
	background-repeat:no-repeat;	
}

/* Naviagation */

#navContainer{
	width:1200px;
	height: 70px;
}

#anvm{
	width: 314px;
	height: 60px;
	float:left;
	background-image: url('home/anvm.jpg');
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 40px;
	margin-left: 68px;
	margin-top: 15px;
}

#craft{
	width: 369px;
	height: 60px;
	float:left;
	background-image: url('home/craft.jpg');
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 40px;
	margin-left: 22px;
	margin-top: 15px;

}

#conversation{
	width: 342px;
	height: 60px;
	float:left;
	background-image: url('home/conversation.jpg');
	background-position: top;
	background-repeat: no-repeat;
	padding-top:26px;
	margin-left: 22px;
	margin-top: 15px;

}

#conversation img{
	float:right;
	margin-left:5px;
}

#mainContainer{
	width:1200px;
	margin-top: 30px;
	margin-left:auto;
	margin-right: auto;
	height: auto;
	background-image: url('background.jpg');
	background-repeat:repeat-y;
	padding-top: 5px;
	padding-bottom:100px;
}

#nav li{
	list-style-type: none;
	float:left;
	color:#000;
	text-transform: uppercase;
	margin-right: 44px;
	font-size: 14px;
	font-family: 'Futura', Helvetica;
	font-weight: 100;
	position:relative;
}

#nav a{
	font-size: 14px;
	font-family: 'Futura', Helvetica;
	color:#000;
	text-decoration: none;

}

#nav li:last-child{
	margin-right: 0px;
}

#nav ul{
	background:#fff; 
	background:rgba(255,255,255,0); 
	list-style:none;
	position:absolute;
	left:-9999px; 
}
#nav ul li{
	padding: 5px; 
	float:none;
}
#nav ul a{
	white-space:nowrap; 
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	text-decoration:none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
	background: #000;
	color:#fff;


}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333;
}

/* Main Slider */
	
#mainSliderContainer{
	width:1098px;
	height: 305px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 38px;
	border-top: solid 5px #000; 
	border-left: solid 1px #000; 
	border-right: solid 1px #000; 
	border-bottom: solid 1px #000; 
	background: #fff;
}

#mainSliderInnerContainer{
	width:1070px;
	height: 255px;
	margin:auto;
	padding-top: 10px;
	overflow: hidden;
}

#mainSliderInnerContainer img{
	margin-left:2px;
	margin-right:2px;
}

#mainSliderContainer .link{
	width:1060px;
	height:10px;
	border-top: solid 1px #000; 
	padding-left: 10px;
	margin-top:16px;

}

#mainSliderContainer .link a{
	color:#000;
	text-transform: uppercase;
	font-size: 9px;
	font-family: 'Futura', Helvetica;
	font-weight: 100;
	text-decoration: none;
}


/* Tumblr Object */

#tumblr{
	margin-left:50px;
  	margin-top:30px;
}


/* Titles */

#titleNews{
	width:1075px;
	height:43px;
	border-bottom: solid 1px #000; 
	color: #000;
	text-transform: uppercase;
	font-size: 31px;
	font-family: 'Futura', Helvetica;
	background-image: url('icons/news.png');
	background-repeat:no-repeat;
	padding-left: 45px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	padding-top: 11px;
	background-position: 1px 3px;

}

#titleWork{
	width:1055px;
	height:36px;
	border-bottom: solid 1px #000; 
	border-top: solid 1px #000; 
	color: #000;
	text-transform: uppercase;
	font-size: 23px;
	font-family: 'Mussica';
	background-image: url('icons/work.png');
	background-repeat:no-repeat;
	padding-left: 45px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	padding-top: 12px;
	background-position: 1px 3px;
}

/* Sub Titles */
	#subTitle{
		width: 350px;
		height:22px;
		background: #000;
		font-family: 'Georgia', Serif;
		color: #fff;
		font-style: italic;
		padding:3px;
		float:left;
		margin-left: 50px;	

	}


	#subTitle .right{
		float:right;
		margin-right: 40px;
	}

/* Works */

#worksContainer{
	width:1100px;
	height: 415px;
	background: #000;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;

}

#worksPhoto{
	width: 255px;
	height:333px;
	background: #fff;
	float:left;
	margin-left:16px;
  	margin-top:31px;
}

#worksPhoto img{
	border: solid 4px #000;
	margin-left:8px;
  	margin-top:9px;
}

#worksPhototitle{
	padding-left:3px;
	padding-right:3px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 230px;
	margin:auto;
	background: #000;
	font-family: 'Mussica';
	color: #fff;
	text-transform: uppercase;
	margin-top: 4px;
}

#worksPhotoSubtitle{
	color: black;
	font-family: 'Georgia';
	font-style: italic;
	font-size: 14px;
	width: 230px;
	margin: auto;
	border-bottom: solid 1px #000;
	text-align: left;
	margin-top: 5px;
}

#worksSeason{
	font-family: 'Futura';
	color: white;
	background: #000;
	padding:3px;
	font-size: 9px;
	float:right;
	text-transform: uppercase;
	margin-right:13px;
	margin-top:4px;
}

/* In The News */

#newsContainer{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	width:1100px;
}

#newsItem{
	width:260px;
	height:350px;
	float: left;
	margin-left:7px;
  	margin-right:7px;
  	position: relative;
}

#newsItem img{
	width:260px;
	height:260px;
}

#newsItem .title{
	height: 71px;
	width:260px;
	top: 93px;
	background-image: url('home/newsTitleback.png');
	background-repeat: repeat-x;
	display: table; 
	position:absolute;
	z-index: 99;
}

#newsItem .title p{
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
	font-family: 'Mussica';
	color:#fff;
	text-transform: uppercase;
	font-size: 15px;
}

#newsItem .date{
	text-align: center;
	font-family: 'Georgia';
	color: #fff;
	font-size: 12px;
	font-style: italic;
	text-transform: none;
}

#newsItem .caption{
	text-align: left;
	font-family: 'Georgia';
	color: #000;
	font-size: 13px;
	font-style: italic;
	border-bottom: solid 4px #000;
	line-height: 18px;
}


/* Twitter */

#twitterContainer{
 	width:1060px;
	height: 193px;
	margin: auto;
	background-image: url('twitterHeader.jpg');
	background-repeat: no-repeat;
	background-position: 34px 17px;
	background-color: #000;
	padding-left:42px;
  	padding-top:45px;
}



#tweetContainer{
	width:330px;
	margin-top:70px;
	margin-right: 10px;
	font-family: 'Georgia';
	font-style: italic;
	float: left;
	color: #fff;
	font-size: 14px;
}

#tweetContainer a{
	color:#a6a28a;
}


/* Footer */

#footer{
	width: 1100px;
	height: 431px;
	margin: auto;
	margin-top: 40px;
	background-image:url('footerBack.png');
	background-repeat: no-repeat;
}

#linksLeft {
	font-family: 'Georgia';
	font-size: 13px;
	text-transform: uppercase;
	font-style: italic;
	color: #fff;
	float: left;
	margin-left:122px;
  	margin-top:142px;
}

#linksLeft li{
	list-style-type: none;	
	margin-top:6px;
  	padding-top:6px;
  	border-top: solid 1px #776e3a;
	width: 240px;
	line-height: 18px;
}


#linksRight {
	font-family: 'Georgia';
	font-size: 13px;
	text-transform: uppercase;
	font-style: italic;
	color: #fff;
	float: right;
	margin-right:122px;
  	margin-top:142px;
}

#linksRight li{
	list-style-type: none;	
	margin-top:6px;
  	padding-top:6px;
  	border-top: solid 1px #776e3a;
	width: 240px;
	line-height: 18px;
	text-align: right;
}

#linksRight li:first-child, #linksLeft li:first-child {
  	border-top: none;
}

#copyright{
	margin-top: 10px;
	font-family: 'Futura';
	color: #000;
	width: 260px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}



















